.jawallat_post_list_box {
  background-color: #ffffff;
}
/* .jawallat_post_list_box h5{
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;
    position: relative;
    font-weight: 600;
}
.jawallat_post_list_box h5::after{
    background: #b71c23;
    height: 4px;
    width: 50px;
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
} */
.jawallat_post_list > [class*="MediaNews_"] {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.jawallat_post_list > [class*="MediaNews_"]:nth-last-child(2) {
  border-bottom: 0;
}

.jawlatt_category_posts_head h5 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
  position: relative;
  font-weight: 600;
  color: var(--category-color-var) !important;
}
.jawlatt_category_posts_head h5::after {
  background: var(--category-color-var) !important;
  height: 26px;
  width: 4px;
  content: "";
  position: absolute;
  bottom: 12px;
  right: -15px;
}

@media (max-width: 991px) {
  .jawallat_post_list > [class*="MediaNews_"]:nth-last-child(2) {
    border-bottom: 1px solid #dadada;
  }

  .jawlatt_category_posts_head {
    background: #f6f8f8;
    padding: 15px 0 15px 10px;
    position: relative;
    margin: 20px 0 15px;
    border: 0;
  }
  .jawlatt_category_posts_head h5 {
    position: relative;
    padding: 0 20px 0 0;
    margin: 0;
    border: 0;
    display: inline-block;
    color: var(--category-color-var);
  }
  .jawlatt_category_posts_head h5::after {
    height: 30px;
    width: 4px;
    top: 50% !important;
    transform: translateY(-50%);
    bottom: auto;
    background: var(--category-color-var) !important;
  }
  .jawlatt_category_posts_head h5::before {
    content: "\f053";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin: 0 0 0 10px;
    font-size: 13px;
    position: absolute;
    left: -26px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  /* .jawallat_post_list_box h5{        
        background: #F6F8F8;
        padding: 15px 20px 15px 10px;
        position: relative;
        margin: 20px 0 15px;
        border: 0;
    }
    .jawallat_post_list_box h5::after{
        height: 30px;
        width: 4px;
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        background: #b71c23 !important;
    } */
}
