@import "mixins";

.logo {
  width: 175px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
  }
  @include media-query(smallest) {
    width: 150px;
    height: 50px;
  }
}

.jawlatt-header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  &.open {
    transform: translateX(-50%);
    @include media-query(smallest) {
      transform: translateX(0);
    }
  }
  .jawlatt-header-close-btn {
    // position: absolute;
    // top: 20px;
    // right: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .jawlatt-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .white-logo {
      width: 104px;
      height: 44px;
      img {
        @include img;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        border-bottom: 1px solid #ffffff1c;
        transition: 0.2s ease-in-out;
        &:hover{
          a{
            color: #EA5153;
          }
        }
        a {
          display: block;
          padding: 10px;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
 
    @include media-query(medium) {
      width: 50%;
      padding: 20px;
    }
    @include media-query(smallest) {
      width: 100%;
      padding: 20px;
    }
  }
}

.jawlatt-header-toggle-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  display: none;
  @include media-query(medium) {
    display: block;
  }
}
.left-side {
  position: sticky;
  top: 150px;
}

.sidebar-mobile{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-20%);
  width: 105px;
  height: 123px;
  img{
    @include img;
  }
}