@import "theme";
@import "layout";
@import "mixins";

// dark mode
[data-bs-theme="dark"] {
  .jawlatt-header-overlay,
  .jawlatt-header-content {
    background: $dark;
  }
  .fa-xmark,
  .fa-bars,
  .fa-cloud-moon,
  .fa-sun,
  .fa-share,
  .fa-bookmark,
  .fa-book {
    color: white !important;
  }
  .jawlatt-sticky-header {
    background: $dark;
  }
  .arab24-right-content,
  .arab24-newsItem-card,
  .arab24-big-news-card {
    background: transparent;
    .card {
      background: transparent;
    }
  }

  .new-video-card,
  .jawlatt-bottom-header-bg-color {
    background: rgb(231 231 231 / 11%);
  }
  .card1 {
    .jawlatt-card1-heading {
      h4,
      h3,
      p,
      a {
        color: $dark !important;
      }
    }
  }
  .jawlatt-mid-grey-cards {
    .card {
      background: transparent;
      h5 {
        color: white !important;
      }
    }
  }
  .jawlatt-border-bottom {
    border-bottom: 1px solid rgb(93, 93, 93);
  }
  a {
    svg {
      path {
        fill: white !important;
      }
    }
  }
  .status,
  .dot {
    a {
      color: #b22e39 !important;
    }
  }
  .blur-effect {
    position: relative;
    &::before {
      opacity: 0;
    }
  }
  .jawlatt-fs-1531 {
    color: #000000 !important;
  }
  .jawlatt-fs-945 {
    color: #1e1e1e !important;
  }
}
.fa-sun {
  color: $dark !important;
}
.arab24-text-gray {
  color: $gray !important;
}
.arab24-text-red {
  color: $red;
}

.arab24-btn-red {
  background: $btn-red !important;
}

.arab24-green {
  color: #36c706 !important;
}

.arab24-bg-black {
  background: #000000 !important;
}
.text-dark-red {
  color: #b22e39 !important;
}
.arabic24-bg-dark-red {
  background: #b22e39 !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}

.btn-primary {
  background: $btn-red !important;
}

// new homepage
.arab24-right-image {
  width: 100%;
  height: 100%;
  img {
    @include img;
  }
}
.new-video-card {
  background-color: #f6f8f8;
}

.arab24-right-content {
  .card-title {
    font-size: 26px;
  }
}

.arab24-big-news-card {
  small {
    font-size: 9px;
  }
  h5 {
    font-size: 13px;
    font-weight: 700;
  }
}
.arab24-card2 {
  .arab24-card2-img {
    width: 100%;
    height: 220px;
    img {
      @include img;
    }
  }
}

.jawlatt-right-image-left-text {
  @include media-query(small) {
    .card-body {
      margin-right: 0 !important;
    }
  }
}

.arab24-newsItem-card {
  .jawlatt-news-source {
    font-size: 15.01px;
    line-height: 31.78px;
  }
  .arab24-newsItem-card-img {
    min-width: 142px;
    width: 142px;
    height: 142px;
    img {
      @include img;
      border-radius: 8px;
    }
  }
  @include media-query(smallest) {
    .arab24-newsItem-card-img {
      .card-title {
        font-size: 16px;
      }
    }
    .jawlatt-news-source {
      font-size: 12px !important;
    }
  }
}
.arab24-news-card {
  display: flex;
  gap: 10px;
  .arab24-news-card-img {
    min-width: 94px;
    height: 94px;
    position: relative;
    .video-icon {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.1s ease-in-out;
      img {
        @include img;
        border-radius: 50%;
      }
    }
    &:hover {
      .video-icon {
        opacity: 1;
      }
    }
    cursor: pointer;
    img {
      @include img;
      border-radius: 8px;
    }
  }
}

.arab24-custom-input {
  .input-group {
    .input-group-text {
      border-radius: 0 !important;
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
      background: $btn-red;
      font-size: 12px;
    }
    .form-control {
      border-radius: 8px !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: 0;
      box-shadow: none !important;
    }
  }
}
.slick-arrow {
  .slick-prev,
  .slick-next {
    z-index: 1;
    background: white !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    @include flex-center;
  }
}

.slick-arrow {
  .slick-prev {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      content: url("../images/slick-left-arrow.png");
      opacity: 1 !important;
    }
  }
}

.slick-arrow {
  .slick-next {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      content: url("../images/slick-right-arrow.png");
      opacity: 1 !important;
    }
  }
}

// economic page
.table {
  thead {
    tr {
      th {
        color: white;
        background: #284e75;
        font-weight: 500;
      }
    }
  }
  tbody {
    tr:nth-child(even) {
      td {
        background: rgb(244, 244, 244);
      }
    }
    tr {
      td {
        background: #fafafa;
        font-weight: 500;
      }
    }
  }
}

// article page
.article {
  .article-banner {
    width: 100%;
    height: 518px;
    img {
      @include img;
    }
  }
  p {
    line-height: 32px;
  }
  @include media-query(small) {
    .article-banner {
      height: unset;
    }
    p {
      line-height: 20px;
    }
  }
}

// notification page
.notification {
  .arab24-tabs {
    .nav-tabs {
      .active {
        color: $btn-red !important;
        border-color: $btn-red !important;
        background: transparent;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    @include media-query(large) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-query(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-query(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .notification-card {
    background: #f5f5f8;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    p {
      color: #707071;
    }
    &:hover {
      background: $btn-red;
      cursor: pointer;
      p {
        color: white;
      }
      svg {
        path {
          fill: white;
          stroke: white;
        }
      }
    }
  }

  .cross-icon {
    width: 20px;
    height: 20px;
    background: #9a9898;
    @include flex-center;
    font-weight: 500 !important;
    padding-bottom: 2px;
    position: absolute;
    top: -8px;
    left: -8px;
    display: none;
  }
  .notify-button {
    &:hover {
      .cross-icon {
        display: flex;
      }
    }
  }
  .form-select {
    background-image: none !important;
  }
  .down-arrow {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .news-channel-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    width: 100%;
    @media (width < 1199px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (width < 991px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (width < 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width < 575px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .news-channel-card {
    border: 1.87px solid #e5e5e5;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    .news-channel-card-image {
      width: 92px;
      height: 92px;
      img {
        @include img;
        border-radius: 50%;
      }
    }
    .star-icon {
      background: white;
      width: 45px;
      height: 45px;
      @include flex-center;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  .slick-slide {
    margin-left: 15px; /* Adjust as needed */
  }
  .slick-slide.first-slide {
    width: 100% !important; /* Make the first slide take full width */
  }

  .slick-track {
    display: flex;
  }

  .blur-effect {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 100%;
      background: white;
      left: -20px;
      top: 0;
      z-index: 9;
      filter: blur(10px);
    }
  }
}

// affiliate page
.affiliate-banner {
  width: 100%;
  height: 270px;
  img {
    @include img;
  }
}

// video page
.video {
  .news-video-card {
    .news-video-card-img {
      position: relative;
      width: 100%;
      height: 462px;
      img,
      video {
        @include img;
      }
      .video-play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .video-play-btn {
        opacity: 0;
        transition: 0.2s;
      }
      &:hover {
        .video-play-btn {
          opacity: 1;
        }
      }
    }
  }
}

// live stream page
.live-stream {
  .live-stream-banner {
    width: 100%;
    height: 489px;
    img {
      @include img;
    }
  }
  .live-stream-card {
    cursor: pointer;
    .live-stream-card-img {
      width: 100%;
      height: 120px;
      img {
        @include img;
      }
    }
  }
}

// auth pages
.auth-card {
  border: 1px solid #00000018;
  box-shadow: 0px 3px 0px 0px #00000018;
  border-radius: 12px;
  .form-control {
    background: #f5f5f8;
    border-radius: 14px;
    padding: 10px 30px;
  }
  .btn {
    padding: 10px 30px;
    border-radius: 14px;
  }
  .heading {
    text-wrap: nowrap;
    font-size: 53px;
    @include media-query(smallest) {
      font-size: 42px;
      text-wrap: wrap;
    }
  }
  .verify {
    input {
      width: 60px;
      height: 60px;
      @include flex-center;
      text-align: center;
      padding: 0;
    }
  }
}

.social-btn {
  background: #f5f5f8 !important;
  border-radius: 15px;
  @include flex-center;
  gap: 5px;
  padding: 5px 15px !important;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  gap: 15px;
  a {
    font-size: 20px;
  }
}
