.jawallat_home_right_banner [class*="col-"] [class*="d-block"] {
  margin-bottom: 16px;
}
.jawallat_home_right_banner [class*="col-"] [class*="d-block"]:last-child {
  margin-bottom: 0px;
}
.jawallat_home_right_banner [class*="_jawallat_content_"] span {
  background: #b71c23;
  font-size: 10px;
  padding: 3px 16px;
}
.jawlatt_post_media_card {
  padding-top: 25px;
}

.jawlatt_post_media_card > [class*="jawallat_single_post_"] {
  margin-bottom: 25px;
}
.jawlatt_post_media_card > [class*="MediaNews_"] {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.jawlatt_post_media_card > [class*="MediaNews_"]:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.jawlatt_royalSec {
  background: rgb(216 216 216 / 20%);
  padding: 45px 0;
}
.jawlatt_heading h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-weight: 600;
  border-bottom: 1px solid #e2e2e2;
}
.jawlatt_heading h3::after {
  background: #b71c23;
  height: 1px;
  width: 165px;
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
}

.jawlatt_cars_last_sec [class*="_jawallat_post_list"] h5 {
  padding-right: 16px;
}
.jawlatt_cars_last_sec [class*="_jawallat_post_list"] h5::after {
  width: 4px;
  height: 26px;
  top: -3px;
  bottom: auto;
}
.jawallat_economyCol1 [class*="_jawallat_post_list"] h5 {
  color: #018592;
}

.jawallat_economyCol1 [class*="_jawallat_post_list"] h5::after {
  background: #018592;
}

.jawallat_economyCol2 [class*="_jawallat_post_list"] h5 {
  color: #5d2065;
}

.jawallat_economyCol2 [class*="_jawallat_post_list"] h5::after {
  background: #5d2065;
}

.jawallat_economyCol3 [class*="_jawallat_post_list"] h5 {
  color: #1b2ba2;
}

.jawallat_economyCol3 [class*="_jawallat_post_list"] h5::after {
  background: #1b2ba2;
}
.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_fullImg_"]
  span,
.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_fullImg_"]
  span
  img {
  width: 100% !important;
  height: auto !important;
}

.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_content_"]
  span[class*="_jawallat_badge_"] {
  background: #b71c23;
  margin-bottom: 12px;
  font-size: 10px;
  display: inline-block;
  padding: 3px 16px;
}
.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_content_"]
  h6 {
  font-size: 1.5rem;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_content_"]
  ul
  li {
  font-size: 17px;
  font-weight: 400;
}
.jawlaat_saudi_news_col
  [class*="_jawallat_card_block_"]
  [class*="_jawallat_content_"]
  ul
  li:last-child
  a {
  height: 17px;
  width: 16px;
  background-size: 12px;
}
.full-img.mb-4 {
  margin-bottom: 40px !important;
}
.jawlatt_category_form {
  background: #f7f7f7;
  padding: 20px 15px 30px 15px;
  margin-bottom: 25px;
}
.jawlatt_category_form p {
  font-size: 12px;
  color: #53585c;
  padding-bottom: 20px;
}
.jawlatt_category_form form {
  display: flex;
}
.jawlatt_category_form form input[type="text"] {
  width: 100%;
  background: #fff;
  border: 1px solid #e0e0e0;
  min-height: 38px;
  font-size: 12px;
  padding: 10px;
  outline: none;
}
.jawlatt_category_form form button {
  background: #b71c23;
  border: 0;
  font-size: 18px;
  color: #fff;
  padding: 3px 17px;
}

.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"] {
  margin-top: -60px;
  position: relative;
  z-index: 2;
}
.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"]
  span {
  margin: 0 20px 40px 0;
}
.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"]
  p {
  display: none;
}
.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"]
  [class*="_jawallat_postmeta_"]
  li {
  font-size: 15px;
}
.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"]
  [class*="_jawallat_postmeta_"]
  li::before {
  height: 18px;
}
.jawlatt_video_mainSec
  [class*="_jawallat_main_slider_"]
  [class*="_jawallat_carousel_caption_"]
  [class*="_jawallat_postmeta_"]
  li:last-child
  a {
  height: 16px;
  width: 16px;
  background-size: 13px;
}

.jawlatt_category_video_section {
  padding-top: 40px;
  position: relative;
  background: #f8f7f7;
  padding-bottom: 30px;
}
.jawlatt_category_video_section_main {
  position: relative;
  z-index: 2;
}
.jawlatt_category_video_section_main h3 {
  color: #fff;
  font-size: 37px;
  border-right: 6px solid #b71c23;
  padding: 0 0 20px;
  margin-bottom: 30px;
  padding-right: 20px;
}
.jawlatt_category_video_section_overlay {
  background: #131415;
  min-height: 220px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}
.jawlatt_category_video_section_overlay::before {
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  margin: 0 0 0 10px;
  color: #fff;
  font-size: 530px;
  left: 17%;
  right: auto;
  position: absolute;
  top: -100%;
  opacity: 0.05;
}

.jawlatt_category_video_section .jawlatt_video_mainSec [class*="_slideImg_"],
.jawlatt_category_video_section
  .jawlatt_video_mainSec_card
  [class*="_jawallat_post_image__"] {
  position: relative;
}
.jawlatt_category_video_section
  .jawlatt_video_mainSec
  [class*="_slideImg_"]
  img {
  width: 100%;
  object-fit: cover;
}
.jawlatt_category_video_section
  .jawlatt_video_mainSec
  [class*="_slideImg_"]::before,
.jawlatt_category_video_section
  .jawlatt_video_mainSec_card
  [class*="_jawallat_post_image__"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
  z-index: 2;
}
.jawlatt_category_video_section
  .jawlatt_video_mainSec
  [class*="_slideImg_"]::after,
.jawlatt_category_video_section
  .jawlatt_video_mainSec_card
  [class*="_jawallat_post_image__"]::after {
  background: url(../../../public/play.png) no-repeat center;
  background-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  content: "";
}
.jawlatt_category_video_section
  .jawlatt_video_mainSec_card
  [class*="_jawallat_post_image__"]::after {
  background-size: 40px;
}

.jawlatt_category_posts_head h5 {
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  position: relative;
  font-weight: 600;
}
.jawlatt_category_posts_head h5::after {
  background: #b71c23;
  height: 4px;
  width: 50px;
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
}

.jawlatt_cars_last_sec .jawlatt_category_posts_head h5 {
  padding-right: 16px;
}
.jawlatt_cars_last_sec .jawlatt_category_posts_head h5::after {
  width: 4px;
  height: 26px;
  top: -3px;
  bottom: auto;
}
.jawallat_economyCol1 .jawlatt_category_posts_head h5 {
  color: #018592;
}

.jawallat_economyCol1 .jawlatt_category_posts_head h5::after {
  background: #018592;
}

.jawallat_economyCol2 .jawlatt_category_posts_head h5 {
  color: #5d2065;
}

.jawallat_economyCol2 .jawlatt_category_posts_head h5::after {
  background: #5d2065;
}

.jawallat_economyCol3 .jawlatt_category_posts_head h5 {
  color: #1b2ba2;
}

.jawallat_economyCol3 .jawlatt_category_posts_head h5::after {
  background: #1b2ba2;
}
.jawlatt_sidebarSocial {
}

.jawlatt_sidebarSocial ul {
  display: flex;
  flex-wrap: wrap;
}
.jawlatt_sidebarSocial ul li button {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 18px 25px;
  line-height: 18px;
  margin: 0 0 2px 2px;
}
.jawlatt_sidebarSocial ul li button i {
  font-size: 24px;
}
.jawlatt_sidebarSocial ul li button h4 {
  font-size: 17px;
  margin: 2px 0 0;
  line-height: 18px;
}
.jawlatt_sidebarSocial ul li button span {
  font-size: 10px;
  vertical-align: top;
}
.jawlatt_sidebarSocial ul li.jawlatt_sidebarSocial_facebook button {
  background: #45629f;
}
.jawlatt_sidebarSocial ul li.jawlatt_sidebarSocial_twitter button {
  background: #5fb2ef;
}
.jawlatt_sidebarSocial ul li.jawlatt_sidebarSocial_youtube button {
  background: #d85e5e;
}
.jawlatt_sidebarSocial ul li.jawlatt_sidebarSocial_instagram button {
  background: #0f5e8f;
}

@media (max-width: 991px) {
  .jawallat_ads_section,
  .jawallat_ads_section2,
  .jawallat_ads_section3 {
    background: #fff;
  }
  .jawlatt_cars_last_sec [class*="_jawallat_post_list"] h5::after {
    top: 50%;
    transform: translateY(-50%);
  }
  .jawlatt_category_video_section_main
    [class*="_jawallat_single_post_box_"]
    [class*="_jawallat_post_image_"]
    [class*="embed-responsive"]
    span,
  .jawlatt_category_video_section_main
    [class*="_jawallat_single_post_box_"]
    [class*="_jawallat_post_image_"]
    [class*="embed-responsive"]
    span
    img {
    width: 100% !important;
    height: auto !important;
  }

  .jawlatt_categorySection {
    overflow: auto;
  }
  .jawlatt_categorySection > div {
    width: 320px;
    flex: 0 0 320px;
    margin-left: 5px;
  }
  .jawlatt_categorySection > div a,
  .jawlatt_categorySection > div a span {
    width: 100% !important;
  }

  .jawlatt_category_posts_head {
    background: #f6f8f8;
    padding: 15px 0 15px 10px;
    position: relative;
    margin: 20px 0 15px;
    border: 0;
  }
  .jawlatt_category_posts_head h5 {
    position: relative;
    padding: 0 20px 0 0;
    margin: 0;
    border: 0;
    display: inline-block;
    color: #000 !important;
  }
  .jawlatt_category_posts_head h5::after {
    height: 30px;
    width: 4px;
    top: 50% !important;
    transform: translateY(-50%);
    bottom: auto;
    background: #b71c23 !important;
  }
  .jawlatt_category_posts_head h5::before {
    content: "\f053";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin: 0 0 0 10px;
    font-size: 13px;
    position: absolute;
    left: -26px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .jawlatt_post_media_card {
    padding-top: 0px;
  }

  .jawlatt_post_media_card + .jawlatt_post_media_card {
    padding-top: 0;
  }
  .jawlatt_post_media_card
    + .jawlatt_post_media_card
    > [class*="MediaNews_"]:first-child {
    border-top: 1px solid #dadada;
    padding-top: 10px;
    margin-top: 10px;
  }

  .jawlatt_sidebarSocial ul li button {
    padding: 10px 16px;
  }
  .jawlatt_sidebarSocial ul li button i {
    font-size: 20px;
  }
  .jawlatt_sidebarSocial ul li button h4 {
    font-size: 14px;
    line-height: 14px;
  }
  .jawlatt_sidebarSocial ul li button span {
    font-size: 8px;
  }
}

.jawallat-mid-GoogleAds {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .jawlatt_categorySection {
    justify-content: center;
  }
}
