.jawllat_policy_banner{
    width: 100%;
    margin-bottom: 50px;
    margin-top: -10px;
}

.jawllat_policy_banner span, 
.jawllat_policy_banner span img{
    width: 100% !important;
}
.jawllat_policy_Text [class*=page-content]{
    word-break: break-word;
}
.jawllat_policy_form{
    margin-top: 30px;
    max-width: 540px;
}
.jawllat_policy_form form .jwalatt_form_group{    
    width: 100%;
    padding: 0.75rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #979797;
    border-radius: 0;
}
.jawllat_policy_form form textarea.jwalatt_form_group{   
    min-height: 250px;
    resize: none;
}
.jawllat_policy_form form input[type="submit"]{    
    color: #fff;
    background-color: #b71c23;
    border-color: #b71c23;
    border-color: #b71c23;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 30px;
    border: 0;
    transition: .3s all ease;
}
.jawllat_policy_form form input[type="submit"]:hover{    
    background-color: #f70c28;
}

@media (max-width:991px){
    .jawllat_policy_banner{
        margin-bottom: 10px;
    }
}